<h2>Add new post</h2>
<form>
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Post: </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> 
</form>

For file inputs, swap the .form-control for .form-control-file.
